%h2 Today's Late Dinners

%p.entry
  Today's late dinner requests
  = LateDinner.closed? ? 'have already closed. ' : 'are still open. '

%h3 One-time

- dinners = LateDinner.where(date: Time.zone.today)

- if dinners.empty? 
  .entry
    %p There are no one-time late dinners for today. 
- else
  - dinners.each do |ld|
    .entry
      %p
        %span.keywords= ld.brother.name
        has requested one-time late dinner for today.

%h3 Every Week

- Brother.all.each do |b|
  - if b.late_dinner_days.try(:include?, Time.zone.today.wday)
    %div.entry 
      %p
        %span.keywords= b.name 
        has requested weekly late dinner for
        %span.keywords<= Date::DAYNAMES[Time.zone.today.wday]
