// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#static_pages_homepage {
  #crest {
    display: block;
    margin: 130px auto;
    height: 400px;
  }

  h2 {
    margin: 300px auto;
  }
}

#static_pages_help {
	#help_title {
		margin: 20px;
	}

	.help_list {
		ol {
			font-size: 24px;
		}

		h4 {
			font-weight: bold;
			font-size: 28px;
		}

		li {
			padding-bottom: 90px;
		}
	}

}