// Place all the styles related to the vouchers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#vouchers_show {
  #line_items {
    span.amount {
      float: right;
    }

    #total {
      margin-top: 15px;
    }
  }

  .section-errors {
    display: none;
  }

  .remove, .open {
    margin-left: 10px;
    display: none;
  }

  div:hover > .remove,
  div:hover > .open {
    display: inline;
  }
}