<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= simple_format @content %>
    <% if @link.present? %>
      <a href="<%= @link %>"><%= @link %></a>
    <% end %>
  </body>
</html>