<!DOCTYPE html>
<html id="voucher_export">
<head>
    <title>Image Receipt</title>
    <style type="text/css">
        <%= raw Rails.application.assets.find_asset('voucher_export.css').source %>
    </style>
</head>
<body>
    <%= image_tag url %>
</body>
</html>

